# [3. Basics](https://docs.python.org/3/tutorial/introduction.html)
## 3.1. Claculator
### 3.1.1. Numbers

In [1]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is NOT a comment because it's inside quotes."

In [2]:
2 + 2

4

In [3]:
50 - 5*6 #python knows the order of how to solve a bisic calculation

20

In [4]:
(50 - 5*6) / 4

5.0

In [5]:
8 / 5  # division always returns a floating point number

1.6

In [6]:
17 / 3  # classic division returns a float

5.666666666666667

In [7]:
17 // 3  # floor division discards the fractional part

5

In [8]:
17 % 3  # the % operator returns the remainder of the division

2

In [9]:
5 * 3 + 2  # result * divisor + remainder

17

In [10]:
5 ** 2  # 5 squared

25

In [11]:
2 ** 7  # 2 to the power of 7

128

In [12]:
width = 20
height = 5 * 9
width * height

900

In [13]:
4 * 3.75 - 1

14.0

In [14]:
#   _
# the last printed expression is assigned to the variable _
#round(number[, numberOFdigits])
round(_, 2)

14.0

In [15]:
dog = 35.4
dog = dog + _
print(dog)

49.4

### 3.1.2. Strings
- def. immutable: string value cannot be updated

In [16]:
'spam eggs'  # single quotes

'spam eggs'

In [17]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [18]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [19]:
'"Yes," they said.'

'"Yes," they said.'

In [20]:
"\"Yes,\" they said."

'"Yes," they said.'

In [21]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [22]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [23]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [24]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [25]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [26]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [27]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

String literals can span multiple lines. One way is using triple-quotes: """...""" or '''...'''. End of lines are automatically included in the string, but itâ€™s possible to prevent this by adding a \ at the end of the line.

In [28]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [29]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [30]:
'Py' 'thon'

'Python'

In [31]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

'''This only works with two literals though, not with variables or expressions:'''
prefix = 'Py'
prefix 'thon'  # can't concatenate a variable and a string literal

File "<stdin>", line 1
    prefix 'thon'
                ^
SyntaxError: invalid syntax
('un' * 3) 'ium'
  File "<stdin>", line 1
    ('un' * 3) 'ium'
                   ^
SyntaxError: invalid syntax

In [32]:
# variable and a literal, use +
prefix = 'Py'
prefix + 'thon'

'Python'

In [33]:
'''INDEX string characters [0123]'''
word = 'Python'
word[0]  # character in position 0

'P'

In [34]:
word[5]  # character in position 5

'n'

In [35]:
word[-1]  # last character

'n'

In [36]:
word[-2]  # second-last character

'o'

In [37]:
word[-6]

'P'

In [38]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [39]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [40]:
word[:2] + word[2:]

'Python'

In [41]:
word[:4] + word[4:]

'Python'

In [42]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [43]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [44]:
word[-2:]  # characters from the second-last (included) to the end

'on'

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

>>> word[42]  # the word only has 6 characters
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
IndexError: string index out of range

In [45]:
word[4:42]

'on'

In [46]:
word[42:]

''

>>> word[0] = 'J'
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'str' object does not support item assignment
>>> word[2:] = 'py'
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'str' object does not support item assignment

In [47]:
'J' + word[1:]

'Jython'

In [48]:
word[:2] + 'py'

'Pypy'

In [49]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

### 3.1.3. Lists
- most versatile is the list, 
- which can be written as a list of comma-separated values (items) between square brackets. 
- Lists might contain items of different types
- mutable

In [50]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [51]:
squares[0]  # indexing returns the item

1

In [52]:
squares[-1]

25

In [53]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [54]:
squares[:]

[1, 4, 9, 16, 25]

In [55]:
squares + [36, 49, 64, 81, 100] # concatenation

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
'''RePlcae List value'''
cubes = [1, 8, "wrong"]  # something's wrong here

In [57]:
4 ** 3  # the cube of 4 is 64

64

In [58]:
cubes[2] = 64  # replace the "wrong" value with 64
cubes

[1, 8, 64]

In [59]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [60]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [61]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [62]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [63]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [64]:
''' Many of Lists --combine to--> List of Lists'''
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [65]:
'''Pick #1st row of list of lists'''
x[0]

['a', 'b', 'c']

In [66]:
'''Picking element of list of lists'''
x[0][1]

'b'

In [67]:
'''[]++APPEND values =
A.)add values to an existing list, 
B.)stuck values to an existing list'''
cubes2 = [1, 8, "wrong"]
cubes2.append(216)  # add the cube of 6
cubes2.append(7 ** 3)  # and the cube of 7
cubes2

[1, 8, 'wrong', 216, 343]

In [68]:
'''[]++APPEND list to list'''
cubes29 = [[[88,88,88,88,88]]]
cubes29.append(cubes2)
cubes29

[[[88, 88, 88, 88, 88]], [1, 8, 'wrong', 216, 343]]

## 3.2 `While` cycle

In [69]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1 #define multiple variables in 1 line a=0, b=1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [70]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

Comparison Operators: 
< less than 
> greater than 
== equal to
<= less than or equal to 
>= greater than OR equal to
!= not equal to

In [71]:
a, b = 0, 1 #multiple assignment in 1 line
while a < 1000:
    print(a, end=',') #put coma , after each printout
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,