# [5. Data Structures](https://docs.python.org/3/tutorial/datastructures.html)
## 5.1. Lists 
`list.append(x)`
Add an item to the end of the list. Equivalent to a[len(a):] = [x].

`list.extend(iterable)`
Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.

`list.insert(i, x)`
Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

`list.remove(x)`
Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

`list.pop([i])`
Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

`list.clear()`
Remove all items from the list. Equivalent to del a[:].

`list.index(x[, start[, end]])`
Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.

The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.

`list.count(x)`
Return the number of times x appears in the list.

`list.sort(key=None, reverse=False)`
Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

`list.reverse()`
Reverse the elements of the list in place.

`list.copy()`
Return a shallow copy of the list. Equivalent to a[:].

In [122]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [123]:
fruits.count('tangerine')

0

In [124]:
fruits.index('banana')

3

In [125]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [126]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [127]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [128]:
fruits.sort() # abc 123
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [129]:
fruits.pop()

'pear'

### 5.1.1. Lists: Stacks up/down elements

In [130]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [131]:
stack.pop() #retrieve an item from the top of the stack

7

In [132]:
stack

[3, 4, 5, 6]

### 5.1.2. Waitning `List`

In [133]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves 
# retrieve an item from the top of the stack

'Eric'

### 5.1.3. `List` use in Complex Situations

In [134]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [135]:
squares = list(map(lambda x: x**2, range(10)))   #?????????

In [136]:
squares = [x**2 for x in range(10)]  #?????????

In [137]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [138]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [139]:
vec = [-4, -2, 0, 2, 4]

In [140]:
# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [141]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [142]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [143]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [144]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]

  File "<ipython-input-103-702d12ece8a4>", line 2
    [x, x**2 for x in range(6)]
               ^
SyntaxError: invalid syntax

In [145]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [146]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

### 5.1.4. Nested List Understand
[Unpacking Argument Lists](https://docs.python.org/3/tutorial/controlflow.html#tut-unpacking-arguments)

In [147]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [148]:
#transpose rows and columns
#A.
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [149]:
#B.
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [150]:
#C.
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [151]:
#D. https://docs.python.org/3/library/functions.html#zip
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## 5.2. `del`  = DELETE list value
remove an item from a list given its index instead of its value

In [152]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [153]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [154]:
del a[:]
a

[]

## 5.3. `Tuples` & [`Sequences`: list, tuple, range](https://docs.python.org/3/library/stdtypes.html#typesseq) data types

In [155]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [156]:
# Tuples NESTable
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

# Tuples immutable
t[0] = 88888

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-121-9e19cce22619> in <module>
      1 # Tuples are immutable:
----> 2 t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [157]:
# Tuples can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [158]:
# empty Tuples
empty = ()
len(empty)

0

In [159]:
singleton = 'hello',    # <-- note trailing comma
len(singleton)

1

In [160]:
singleton # <-- note trailing comma "following comma"

('hello',)

In [161]:
#tuple packing
t = 1, 2, 'hello!'

#reverse tuple UN-packing = sequence unpacking
x, y, z = t

print(x , y, z)

1 2 hello!

## 5.4. `Sets` data types

In [162]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'banana', 'apple', 'pear', 'orange'}

In [163]:
'orange' in basket                 # fast membership testing

True

In [164]:
'crabgrass' in basket

False

In [165]:
# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [166]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [167]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [168]:
a & b                              # letters in both a and b

{'a', 'c'}

In [169]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

## 5.7 Conditions II.
"#generalBooleanAlgebraStaff"

In [170]:
'''?????????????????'''
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

## 5.8. Comparing Sequences and Other Types

In [171]:
(1, 2, 3)              < (1, 2, 4)

True

In [172]:
[1, 2, 3]              < [1, 2, 4]

True

In [173]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [174]:
(1, 2, 3, 4)           < (1, 2, 4)

True

In [175]:
(1, 2)                 < (1, 2, -1)

True

In [176]:
(1, 2, 3)             == (1.0, 2.0, 3.0)

True

In [177]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True